footer{
    background-color: $darkgray;
    color: white;
    padding: 20px;
    label{
        float: top left;
        color: $salmon;
        :first-child{
            color: white;
        }
    }
}