.head-line{
    width: 80vw;
    margin: auto ;
    h1{
        position: relative;
        font-size: 1.5rem;
        text-transform: uppercase;
        text-align: center;
        background: rgba(0,0,0, 0.0);
        border-radius: 20px 0;
    
        &::before, &::after{
            content: '';
            position: absolute;
            top: 10px;
            height: 100%;
            width: 40%;
        }
        &::before{
            left: 0;
            border-top: 5px solid $salmon;
        }
        &::after{
            right: 0;
            border-top: 5px solid $salmon;
        }
    }
}