@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import './hero';
@import './header';
@import './animations';
@import './colors';
@import './container';
@import './headline';
@import './footer';
@import './form';
@import './media';


*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
  html{
      scroll-behavior: smooth;
  }