@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import './hero';
@import './header';
@import './media';
@import './animations';

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 80%;
    margin: 2rem auto;
    //border: 1px solid red;
    
    p{
        margin: 1rem 0;
    }
}

.logo{
    background: url('../assets/images/DSolutionsLB.png') no-repeat top left / cover ;
    padding: 15px 0 0 0;
    margin: 0;
    width: 260px;
    height: 60px;
  }